body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body.light {
  background-color: #f4f4f4;
  color: #333;
}

body.dark {
  background-color: #121212;
  color: #f4f4f4;
}
